
@{
    ViewBag.Title = "ChangePassword";
}
@if (ViewBag.Successful != null)
{
    <script>
        swal({
            type: "success",
            title: "Success!",
            text: "@ViewBag.Successful"
        });
    </script>
    ViewBag.Successful = null;
}
@if (ViewBag.Error != null)
{
    <script>
        swal({
            type: "error",
            title: "Error",
            text: "@ViewBag.Error"
        });
    </script>
    ViewBag.Error = null;
}
<script>
@*    $(document).ready(function () {
        $("form").submit(function () {
            var oldPassword = $("input[name=oldPassword]").val();
            var newPassword = $("input[name=newPassword]").val();
            var confirmPassword = $("input[name=confirmPassword]").val();
            swal({
                title: "Confirmation",
                text: "Are you sure to change your password?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false,
                closeOnCancel: false,
            }, function (isConform) {
                if (isConform) {
                        window.location.href = "@Url.Action("alterPassword", "Home")" + "?oldPassword=" + oldPassword + "&newPassword=" + newPassword + "&confirmPassword=" + confirmPassword;
                    //$("#changePasswordForm").submit();
                }
                else {
                    swal({
                        title: "Cancelled",
                        text: "Your Password is not modified. Thank you!",
                        type: "error"
                    });
                }
            });
        });
    });*@
    function changePassword() {
        var oldPassword = $("input[name=oldPassword]").val();
        var newPassword = $("input[name=newPassword]").val();
        var confirmPassword = $("input[name=confirmPassword]").val();
        var additionalText = " Please make sure all feilds are filled."
        if (oldPassword == "") {
            swal("", "Old Password field cannot be empty." + additionalText);
        }
        else if (newPassword == "") {
            swal("", "New Password field cannot be empty." + additionalText);
        }
        else if (confirmPassword == "") {
            swal("", "Confirm Password field cannot be empty." + additionalText);
        }
        else {
            swal({
                title: "Confirmation",
                text: "Are you sure to change your password?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false,
                closeOnCancel: false,
            }, function (isConform) {
                    if (isConform) {
                        window.location.href = "@Url.Action("alterPassword", "Home")" + "?oldPassword=" + oldPassword + "&newPassword=" + newPassword + "&confirmPassword=" + confirmPassword;
                        //$("#changePasswordForm").submit();
                    }
                    else {
                        swal({
                            title: "Cancelled",
                            text: "Your Password is not modified. Thank you!",
                            type: "error"
                        });
                    }
            });
        }
    }
@*    onsubmit = "changePassword()"*@
</script>
<div class="container body-content">
    <!--//header-->
    <div>
        <div id="login-div" class="sub-main-w3">
            <form action="">
                <h2 class="loginText">Change Password</h2>

                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input type="password" placeholder="Old Password" class="textBox" name="oldPassword" id="password" required />
                    <i class="fa fa-eye" onclick='changeType("password", "fontAwesome")' id="fontAwesome"></i>
                    <br />
                </div>
                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input type="password" placeholder="New Password" class="textBox" name="newPassword" id="password1" required />
                    <i class="fa fa-eye" onclick='changeType("password1", "fontAwesome1")' id="fontAwesome1"></i>
                    <br />

                </div>
                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input type="password" placeholder="Conform Password" class="textBox" name="confirmPassword" required />
                    <br />
                </div>
                <br />
                <div class="right-w3l buttonMargin">
                    <input type="button" class="buttonStyle" value="Submit" onclick="changePassword()">
                </div>

            </form>
        </div>
    </div>
</div>
