@{
    ViewBag.Title = "RAM";
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<head>
    <title>Home Page</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>

<div>
   
 </div>

